<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <!-- <div class="modal-dialog" role="document"> -->
    <!-- <div class="modal-content well-auth"> -->
      <div class="container auth-form">
          <div class="well well-auth">
            <h1>Log in to your account</h1>
            <form action="/login" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
              </div>
              <button type="submit" class="btn btn-default btn-auth">Log In</button>
            </form>
            <div>
              New to YelpCamp? <a href="/signup">Sign Up</a>
            </div>
          </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>

<!-- signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <!-- <div class="modal-dialog" role="document"> -->
    <!-- <div class="modal-content well-auth"> -->
      <div class="container auth-form">
          <div class="well well-auth">
            <h1>Sign up to YelpCamp</h1>
            <form action="/signup" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
              </div>
              <button type="submit" class="btn btn-default btn-auth">Sign Up</button>
            </form>
            <div>
              Already have an account? <a href="/login">Login</a>
            </div>
          </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>


<footer class="footer-bs">
  <div class="container">
    <div class="row">
          	<div class="col-md-3 footer-brand animated fadeInLeft">
              	<h2>YelpCamp</h2>
                  <!-- <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p> -->
                  <p>© 2020 YelpCamp, All rights reserved</p>
              </div>
          	<div class="col-md-6 footer-nav animated fadeInUp">
              	<h4 class="menu">— Menu —</h4>
              	<div class="col-md-6">
                      <ul class="pages">
                          <li><a href="/campgrounds" class="home-scroll">Home</a></li>
                          <li><a href="/campgrounds#campground-scroll">Campgrounds</a></li>
                          <li><a href="/campgrounds">About Us</a></li>
                      </ul>
                  </div>
              	<div class="col-md-6">
                      <ul class="list">
                          <li><a href="/campgrounds">Contacts</a></li>
                          <li><a href="/campgrounds">Terms & Condition</a></li>
                          <li><a href="/campgrounds">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
          	<div class="col-md-3 footer-social animated fadeInDown">
              	<h4>Follow Us</h4>
              	<ul>
                  	<li><a href="https://twitter.com/search?q=yelpcamp&src=typed_query">Twitter <i class="fab fa-twitter"></i></a></li>
                  	<li><a href="https://www.instagram.com/explore/tags/yelpcamp/?hl=en">Instagram <i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="footer-credit">
            <p>
              Made with &hearts; by <a class="heroku" href="https://github.com/jjahammond/"><strong>jjahammond</strong></a>
              | Hosted on <a class="heroku" href="https://www.heroku.com/"><strong>HEROKU</strong></a>
            </p>
          </div>
  </div>
</footer>

<script type="text/javascript" src="/javascript/main.js"></script>

</body>
</html>
