<%- include('./partials/header') %>

    <div class="background-image">
      <div class="container auth-form">
          <div class="well">
            <h1>Sign up to YelpCamp</h1>
            <form action="/signup" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
              </div>
              <button type="submit" class="btn btn-default btn-auth">Sign Up</button>
            </form>
            <div>
              Already have an account? <a href="/login">Login</a>
            </div>
          </div>
      </div>
    </div>



<%- include('./partials/footer') %>
