/* Light button */
.btn-light, .btn-light:hover, .btn-light:focus {
  background-color: Transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-shadow: 2px 2px 8px #000000;
  box-shadow: 2px 2px 8px #000000;
  margin-bottom: 10px;
}
.btn-light:hover, .btn-light:focus {
  outline: none;
  background-color: #FFFFFF2F;
}

/* Dark button */
.btn-dark {
  background-color: Transparent;
  border: 1px solid #333;
  color: #333;
}
.btn-dark:hover, .btn-dark:focus {
  outline: none;
  border: 1px solid #333;
  background-color: #333333DD;
  color: white;
}

/* Auth button */
.btn-auth {
  background-color: #333333DD;
  border: 1px solid #333;
  color: white;
}
.btn-auth:hover, .btn-auth:focus {
  outline: none;
  background-color: #333333EE;
  color: white;
  border: 1px solid #333;
}

/* Close button */
.btn-close {
  background-color: Transparent;
  border: 1px solid #333;
  color: #333;
}
.btn-close:hover, .btn-close:focus {
  outline: none;
  background-color: #f8f8f8f7;
}
