html {
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
}

.navbar {
  margin: 0;
  background: none;
  border: none;
  transition: background 200ms;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #333;
}

.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
    height: 2px;
}

.navbar.scrolled {
  background: #f8f8f8f7;
  /* background: #333333F7; */
  transition: background 200ms;
}

.nav.navbar-nav.navbar-right {
  text-align: right;
}

.jumbotron {
  background-image: url("/images/jumbotron-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 29vh;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
}

.jumbotron a {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .jumbotron {
    padding-top: 22vh;
  }
  /* .navbar-nav > li > a {
      padding-top: 0px;
  } */
}

@media (max-width: 600px) {
  .jumbotron {
    padding-top: 25vh;
    /* text-align: left; */
  }

  .jumbotron a {
    max-width: 200px;
    font-size: small;
    background: #333333DD;
    color: white;
  }

  .jumbotron a:hover, .jumbotron a:focus {
    background: #333333EE;
  }
}

.add-comment {
  margin-top: 5px;
}

.thumbnail {
  padding: 0;
  border: none;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px; */
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
}

.thumbnail .caption {
  background: white;
  color: #333;
  padding-top: 15px;
}

.thumbnail .caption h4.index {
  margin: 0 auto;
}

.thumbnail img {
  width: 100%;
}

.a-thumbnail:hover {
  text-decoration: none;
}

#campgrounds {
  margin-bottom: 55px;
}

.well {
  margin: 0 auto;
  background: #FFFFFF;
  border: none;
}

.well-show {
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px; */
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
  border-radius: 0;
  background: #f7f7f7;
}

.thumbnail .caption.show-caption {
  padding: 19px;
  background: #f7f7f7;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;;

  padding: 5px 0;
  margin: 0 5px;
  border: none;
}

.dot {
  width: 4px;
  height: 4px;
  margin: 2px;
  background: #777;
  border-radius: 50%;
}

.dropdown-menu {
  left: -130px;
}

.dropdown-menu.list-group .list-group-item {
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border-radius: 0;
  border: none;
}
.dropdown-menu.list-group .list-group-item:hover {
  text-decoration: none;
  background: #333333DD;
  color: white;
}

.dropdown-menu.list-group button {
  outline: none;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.comment-header {
  margin-bottom: 5px;
}

.list-group {
  border-radius: 0px;
  background: #FFFFFFDD;
  /* box-shadow: 2px 2px 8px #aaa; */
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
  padding: 0;
  border: none
}

.list-group-item {
  border: inherit;
  padding: 15px;
  font-size: 1.1em;
  border-radius: 0px;
}

.top-border {
  border-top: 1px solid #DDD !important;
}

#map {
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
  padding: 25vh 0;
  margin-bottom: 20px;
}

.background-image {
  height: 100vh;
  background-image: url("/images/jumbotron-image.jpg");
  background-size: cover;
  background-position: center;
}

.show-page {
  margin-top: 115px;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .show-page{
    margin-top: 145px;
  }
}

.title {
  margin-bottom: 20px;
}

.show-header h3, .show-header h4 {
  padding: 0;
  margin: 0;
}

.show-header h4 {
  padding-top: 5px;
}

.caption h3 a {
  color: #333;
}
.caption h3 a:hover {
  color: #DDD;
  text-decoration: none;
}

textarea.form-control {
  resize: none;
  background: #f7f7f7;
  border: 1px solid #DDD;
}


.comment-body {
  border-bottom: 1px solid #DDD;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
}


.well-auth, .well-new {
  max-width: 400px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px; */
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
}

.well-auth {
  margin: 30vh auto;
}

.well-new {
  margin: 4vh auto;
}
@media (max-width: 500px) {
  .well-auth, .well-new {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.well-auth .modal-header, .well-new .modal-header {
  height: 60px;
  border: none;
}
.well-auth h1, .well-new h1 {
  margin-top: 10px;
  font-size: 1.5em;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 30px;
}
.well-auth .form-control, .well-new .form-control {
  background: Transparent;
}
.well-auth .btn, .well-new .btn {
  width: 100%;
  margin-bottom: 10px;
}
.modal-open {
  overflow:hidden;
  overflow-y:scroll;
  padding-right:0 !important;
}

#campground-scroll {
  padding-bottom: 60px;
}

.alert {
  margin-bottom: 0;
}

#alert-container {
  padding: 0;
  top: 50px;
  position: fixed;
  left: 12.5%;
  width: 75%;
  text-align: center;
  z-index: 1030;
  box-shadow: rgba(0, 0, 0, 0.4) 13px 26px 10px;
  border-radius: 0;
}

.alert-success {
  background: #dff0d8dd;
  border: none;
  border-radius: 0;
}
.alert-danger {
  background: #f2dededd;
  border: none;
  border-radius: 0;
}

.footer-bs {
  background-color: #333;
	padding: 50px 0 10px 0;
	color: white;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.footer-credit {
  margin-top: 10px;
  text-align: center;
  font-size: 0.85em;
  color: rgba(255,255,255,0.8);
}

.heroku { color:rgba(255,255,255,1.0); }
.heroku:hover, .heroku:focus {
  color:rgba(255,255,255,0.80);
  text-decoration: none;
}

@media (max-width: 992px) {
  div .col-md-6 {
    padding-left: 2px;
  }
}

@media (min-width: 992px) {
  .menu {
    text-align: center;
  }

  .list, .footer-social {
    text-align: right;
  }
}
